
.imgContactos{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.mostrarPerfilContactos{
border:2px solid #246175;
border-radius: 5px;
border-collapse: collapse;
}
img.fotoPerfilContacto{
width: 150px;
height: 150px;
border-radius: 5px;
}
.buscarAmigos{
margin: auto;        
padding: 5px;
border:2px solid lightgray;
border-radius: 5px;
display: -webkit-flex; /* Safari */        
display: grid;
grid-template-columns: auto auto auto auto;
}
.amigosContactos{
margin: auto;        
padding: 5px;
border:2px solid lightgray;
border-radius: 5px;
display: -webkit-flex; /* Safari */        
display: grid;
grid-template-columns: auto auto;
/*height: 80%;
overflow: auto;*/
}
.contacto{
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*border: 1px solid #29a3a3;*/
    /*margin:5px;*/
    /*padding: 5px;*/
    font-size: 10px;
    text-align: left;
    size: 10px; 
    padding:2px;
}
.imgContactosenLinea{
    width: 50px;
    height: 50px;
    border:3px solid #008000; /* verde #008000 rojo #ff8080 azul #80aaff naranja #ffcc80*/
    border-radius: 5px;
}
.contacto a.a{
    color: #0c2027;
    pointer-events: auto;
    cursor: pointer;
    text-decoration: none;
}
/*.contacto a.a:hover{
    color: #000;  
}*/
.contacto a.c{
    color: red;
    pointer-events: auto;
    cursor: pointer;
    text-decoration: none;
}
.contacto a.n{
    text-decoration: none;
} 

